<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!--<p> <span v-for="n in 10">-{{ n }}</span> </p>-->
    <p >{{ message }}</p>
    <!--<p >{{ user1 }}</p>-->
    <!--<p >{{ user2 }}</p>-->
    <!--&lt;!&ndash; 只能响应一次 &ndash;&gt;-->
    <!--<p v-once >{{ message }}</p>-->
    <!--&lt;!&ndash; 输出真正的html &ndash;&gt;-->
    <!--<p v-html="message" v-bind:title="message"></p>-->
    <!--&lt;!&ndash; v-bind:disabled 简写模式 :disabled &ndash;&gt;-->
    <!--&lt;!&ndash; v-model：1、应用在input、textarea、select 元素上，创建双向数据绑定； &ndash;&gt;-->
    <!--&lt;!&ndash;          2、忽略表单元素的value、checked、selected属性初始值，而通过使用data声明中的初始值；&ndash;&gt;-->
    <!--<input v-model="message" :disabled="showMessage" >-->
    <!--&lt;!&ndash; .lazy在“change”时而非“input”时更新 &ndash;&gt;-->
    <!--<input v-model.lazy="message" :disabled="showMessage" >-->
    <!--<p  v-if="showMessage">v-if：1、不包含DOM;2、更高的切换开销；</p>-->
    <!--<p  v-show="showMessage">v-show：1、CSS的display属性隐藏，并保留DOM；2、但不支持&lt;template&gt;3、更高的初始渲染开销；</p>-->
    <!--<ol v-if="customers">-->
        <!--&lt;!&ndash;<li v-for="customer in customers">&ndash;&gt;-->
            <!--&lt;!&ndash;{{ customer }}&ndash;&gt;-->
            <!--&lt;!&ndash;{{ customer.name }}&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash; key：管理可复用的元素; 动态绑定，如:customer="c" &ndash;&gt;-->
        <!--&lt;!&ndash; 不推荐：v-for和v-if一起使用；v-for的优先级高于v-if；&ndash;&gt;-->
        <!--<customers-->
                <!--v-for="(c, i) in customers"-->
                <!--:customer="c"-->
                <!--:key="'list-' + c.id"-->
                <!--v-if="c.money > 10"-->
                <!--@remove="customers.splice(i, 1)"-->
                <!--@addMoneyEvent="addMoney(c)"-->
        <!--&gt;-->
        <!--</customers>-->
    <!--</ol>-->

    <!--<ol>-->
        <!--<user-tpl v-for="u of users" :key="u.id" :user="u">-->

        <!--</user-tpl>-->
    <!--</ol>-->
    <!--<select v-model="userSelected" @change="this.console.log(userSelected)">-->
        <!--&lt;!&ndash; 内联对象字面量 &ndash;&gt;-->
        <!--<option v-for="user of users" :value="user.id" >{{ user.name }}</option>-->
    <!--</select>-->
    <!--<button @click="customers.pop()">弹出客户</button>-->
    <!--&lt;!&ndash; v-on:click 简写： @click &ndash;&gt;-->
    <!--&lt;!&ndash; 数组的处理函数（变异方法 > 改变调用的原始数组）：pop、push、shift、unshift、splice、sort、reverse &ndash;&gt;-->
    <!--&lt;!&ndash; 数组的处理函数（非变异方法 > 不改变调用的原始数组，但会返回一个新数组）：filter、concat、slice &ndash;&gt;-->
    <!--<button @click="customers.pop()">弹出客户（简写模式）</button>-->
</div>
<script>
    //新组件声明
    //组件名定义和使用的两种方式：
    // 1、kebab-case：my-component-name => 使用：<my-component-name>
    // 2、PascalCase：MyComponentName => 使用：<my-component-name> 或 <MyComponentName> 只在字符串模板中有效
    //与new Vue的区别：没有el属性；
    Vue.component( //全局注册组件
        'customers',
        {
            //特性继承
            inheritAttrs: false,//组件的根元素不继承
            data: function(){
                return {
                    count: 0
                }
            },
            methods: {

            },
            //父组件，通过props把数据传给子组件
            //1、字符串数组形式的props
            // props: ['customer', 'app'],
            //2、对象形式的props，prop验证；
            props: {
                // customer: Object,
                //带有默认值的对象，对象或数组默认值必须从一个工厂函数获取
                customer: {
                    type: Object,
                    required: true,
                    default: function () {
                        return { name: 'default name', id: 0, money: 500}
                    },
                    //自定义验证函数
                    validator: function (c) {
                        console.log(c.name)
                        // 顾客姓名必须匹配下列字符串中的一个
                        return ['sam'].indexOf(c.name) === -1
                    }
                },
                // age: Number,
                // 带有默认值
                age: {
                    type: Number,
                    default: 11
                },
                // name: String,
                // 必填的字符串
                name: {
                    type: String,
                    required: false //true的话，如果没有带数据会报错
                },
                customers: Array,
                birthday: Date,
                countAll: Function,
                // user: Symbol,
                //多个可能的类型
                isShow: [Boolean, String]
            },
            //注意：javascript 表达式（三元表达式、加减表达式）
            //子组件，通过$emit触发父组件的自定义事件；
            // vm.$emit( event, arg ) //触发当前实例上的事件
            // vm.$on( event, fn );//监听event事件后运行 fn；
            template: '<li>' +
                '{{ customer }} - {{ customer.money >= 200 ? customer.name : customer.name + "-" + $emit("reversedName", [customer.name]) }} ' +
                '- 余额：{{ customer.money >= 200 ? customer.money + 1 : 0 }} ' +
                '<button @click="$emit(\'addMoneyEvent\', customer)">余额+1</button> ' +
                    //v-on的事件修饰符：
                // 1、.once 只执行一次；
                // 2、.stop 阻止单击事件继续传播；
                // 3、.prevent 提交事件不在重载页面；
                    //精确触发，不能参入其他系统修饰符
                '<button @click.once.exact="$parent.addMoney(customer, $event)">余额+2+once</button> ' +
                '<button @submit.prevent>余额+3+prevent</button> ' +
                    //v-on按键修饰符（keyCode）
                    // 1、.enter 回车；2、.tab tab；3、.delete 删除或退格；4、esc 取消；5、.space 空格；6、.up/.down 向上向下；
                    // 7、.left/.right 左右；8、设置自定义按键修饰符别名：Vue.config.keyCodes.f1 = 112
                '<button @keyup.enter="$parent.addMoney(customer, $event)">余额+4+keyUpEnter</button> ' +
                    //系统修饰键
                    //.ctrl、.alt、.shift、.meta
                    // @keyup.alt.67= 'do()' => alt + c
                    // @click.ctrl= 'do()' => ctrl + click

                    //鼠标按钮修饰符
                    //.left、.right、.middle

                    //修饰符
                    //.lazy
                    //.number
                    //.trim
                '</li>' //Mustache 语法（双大括号）
        })
    var data = {
        message: '<b>first app!</b>' + new Date().toLocaleString(),
        showMessage: false, // null,undefined,true
        userSelected: 2,
        customers: [
            {name: 'sam', id: 0, money: 10},
            {name: 'betty', id: 1, money: 200},
            {name: 'little boy', id: 2, money: 300},
            {name: 'sam1', id: 13, money: 111},
            {name: 'sam2', id: 14, money: 101}
        ],
        user1: {name: 'sam chen1', id: 1, money: 1000000 },
        user2: {name: 'sam chen2', id: 2, money: 2000000 },
        users:[
            {name: '       Sam Chen ', id: 1, age: 18 },
            {name: 'Long Zheng', id: 2, age: 38 },
            {name: 'Qi Wu', id: 3, age: 58 }
        ]
    }
    // Object.freeze(data) //阻止响应式系统追踪对象里的属性
    var message = 'message'
    var customers = {name: 'customers'}
    var userComponent = {
        props: ['user'],
        template: '<li> ' +
            // v-model.number 格式化字符串为数值
            '<input type="number" id="user.id" v-model.number="user.age">{{ user.name }} {{ user }} ' +
            // v-model.trim 变量获取值，会去除空格值
            '<input id="user.id" v-model.trim="user.name"> ' +
            '</li>',
        components: {
            //子组件
        }
    }
    var app = new Vue({
        el: '#app',
        data: function () {
            return data
        },
        //局部注册组件
        components: {
            'user-tpl': userComponent
        },
        //methods：每次渲染都会进行调用
        methods: {
            addMoney: function(customer, event){
                customer.money += 1
                if(event) {
                    event.preventDefault()
                    console.log(customer)
                }

            }
        },
        //computed：对应的属性改变时，才会调用，否则返回缓存数据
        computed: {
            reversedName: function(name){
                console.log(name)
                return name.split("a").reverse().join("1")
            }
        },
        //watched：侦听属性，应用于：当需要在数据变化时执行异步或开销较大的操作
        watched: {

        },
        //生命周期钩子
        //1、beforeCreate 钩子：实例创建前执行代码；
        //2、created 钩子：实例创建后执行代码；
        created: function(){
            console.log('message is: ' + this.message) //this 指向Vue实例
        },
        //3、beforeMount 钩子：渲染el模板前
        //4、mounted 钩子：渲染el模板后
        mounted: () => console.log(this.message) //this是获取上级haha的message变量
        //5、beforeUpdated 钩子：数据改变更新前
        //6、updated 钩子：数据改变更新后
        //7、beforeDestroyed 钩子：Vue实例销毁前
        //8、destroyed 钩子：Vue实例销毁后
    })
    //实例属性
    console.log(app.$data === data)
    console.log(app.$el === document.getElementById('app'))
    //属性变动时触发
    app.$watch('showMessage', function(newValue, oldValue){
        console.log('new: '+ newValue)
        console.log('old: '+ oldValue)
    })
    app.$watch('customers', newValue => this.customers)
    //【问题】Vue 不能检测以下变动的数组：
    // 1、当你利用索引直接设置一个项时，例如：vm.items[indexOfItem] = newValue
    // 2、当你修改数组的长度时，例如：vm.items.length = newLength
    var customer = [
        {name: 'betty1', id: 11, money: 330},
        {name: 'betty2', id: 10, money: 330},
        {name: 'betty3', id: 9, money: 330}
        ]
    // app.customers[1] = customer
    // app.customers.length = 5
    //【解决】Vue 能检测数组变动
    Vue.set(app.customers, 0, customer[1]) //只能针对现有的索引进行赋值
    app.$set(app.customers, 1, customer[0])
    // 参考：https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Array/splice
    app.customers.splice(0, 2, customer[2]) //array.splice(start[, deleteCount[, item1[, item2[, ...]]]])
    app.customers.splice(10)
    console.log(app.customers)
    //【问题】Vue 不能检测对象属性的添加或删除：
    app.b = 'test b' //不存在的属性，无法实现响应式数据更新，
    // 解决：Vue.set(object, key, value) => 别名：app.$set(object, key, value)
    Vue.set(app.customers[1], 'nick_name', 'stupid')
    app.$set(app.customers[0], 'nick_name', 'stupid1')
    // 解决：赋予多个属性的方法，Object。assign() 和 _.extend()
    // https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Object/assign
    // 目标：实现响应式属性：
    Object.assign(app.user1, {level: 5, sex: 'female'}) //level和sex并不是响应式属性，可在控制台上验证
    app.user2 = Object.assign({}, app.user2, {level: 2, sex: 'male'}) //level 和 sex是响应式属性

</script>
</body>
</html>